<div class="col-md-2">
	<button type="button" class="btn btn-primary" data-ng-click="$ctrl.toggleDialog()">Create collection</button>
	<div data-ng-if="$ctrl.showDialog" class="modal show" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button data-ng-click="$ctrl.toggleDialog()" type="button" class="close" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Create collection</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="collectionNameField">Collection name</label>
						<input id="collectionNameField" placeholder="Collection name" class="form-control" type="text" data-ng-model="$ctrl.collection.name">
					</div>
					<div class="form-group">
						<label for="collectionDescriptionField">Collection description</label>
						<input placeholder="Collection description" id="collectionDescriptionField" class="form-control" type="text" data-ng-model="$ctrl.collection.description">
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="button" data-ng-click="$ctrl.saveCollection()">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>