<div class="col-md-4 col-md-push-4">
	<!--<pre>{{$ctrl.person | json}}</pre>-->
	<div class="form-group">
		<label for="usernameLabel">Username</label>
		<input class="form-control" id="usernameLabel" type="text" data-ng-model="$ctrl.person.username">
	</div>
	<div class="form-group">
		<label for="passwordField">Password</label>
		<input class="form-control" id="passwordField" type="password" data-ng-class="{'error' : !$ctrl.checkPassword()}" data-ng-model="$ctrl.person.password">
	</div>
	<div class="form-group">
		<label for="passwordAgainField">Password again</label>
		<input class="form-control" id="passwordAgainField" type="password" data-ng-class="{'error' : !$ctrl.checkPassword()}" data-ng-model="$ctrl.person.passwordAgain">
	</div>
	<div class="form-group">
		<label for="firstNameField">First name</label>
		<input class="form-control" id="firstNameField" type="text" data-ng-model="$ctrl.person.name">
	</div>
	<div class="form-group">
		<label for="lastNameField">Last name</label>
		<input class="form-control" id="lastNameField" type="text" data-ng-model="$ctrl.person.lastName">
	</div>
	<div class="form-group">
		<label for="emailField">Email</label>
		<input class="form-control" id="emailField" type="email" data-ng-model="$ctrl.person.email">
	</div>
	<button class="btn btn-primary" type="button" data-ng-click="$ctrl.doSignup()">Signup</button>
	<div data-ng-show="$ctrl.success === false">
		Please check your data.
	</div>
</div>