<nav class="navbar navbar-default">
	<ul class="nav navbar-nav">
		<li class="btn" data-ng-repeat="page in $ctrl.getPermitedPages()">
			<a data-ui-sref="{{page.state}}">{{page.name}}</a>
		</li>
	</ul>
</nav>