<button type="button" class="btn btn-primary" data-ng-click="$ctrl.toggleDialog()">Change password</button>
<div data-ng-if="$ctrl.showDialog" class="modal show" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button data-ng-click="$ctrl.toggleDialog()" type="button" class="close" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Change password</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="oldPasswordField">Old password</label>
					<input id="oldPasswordField" placeholder="Old password" class="form-control" type="password" data-ng-model="$ctrl.oldPassword">
				</div>
				<div class="form-group">
					<label for="newPasswordField">New password</label>
					<input id="newPasswordField" placeholder="New password" class="form-control" type="password" data-ng-model="$ctrl.newPassword">
				</div>
				<div class="form-group">
					<label for="repeatNewPasswordField">Repeat new password</label>
					<input placeholder="Repeat new password" id="repeatNewPasswordField" class="form-control" type="password" data-ng-model="$ctrl.confirmPassword">
				</div>
				<div data-ng-show="$ctrl.error === true">Old password doesn't match</div>
			</div>
			<div class="modal-footer">
				<!--<button type="button" class="btn btn-primary">Save changes</button>-->
				<button class="btn btn-primary" type="button" data-ng-click="$ctrl.changePassword()">Save</button>
			</div>
		</div>
	</div>
</div>