<div class="col-md-4 col-md-push-4">
	<div class="form-group">
		<label for="usernameField">Username</label>
		<input id="usernameField" class="form-control" type="text" data-ng-model="$ctrl.credentials.username">
	</div>
	<div class="form-group">
		<label for="passwordField">Password</label>
		<input id="passwordField" class="form-control" type="password" data-ng-model="$ctrl.credentials.password">
	</div>
	<button class="btn btn-primary" type="button" data-ng-click="$ctrl.performLogin()">{{$ctrl.getButtonValue()}}</button>
	<div data-ng-if="$ctrl.loginError">
		<div class="error">{{$ctrl.loginError}}</div>
	</div>
</div>