<div class="col-md-4">
    <!--<pre>{{$ctrl.getBirds() | json}}</pre>-->
    <div class="row">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th></th>
                    <th>Ring</th>
                    <th>Colour</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr id="{{bird.ring}}" data-ng-repeat="bird in $ctrl.getBirds() track by bird.ring">
                    <td class="col-md-1">
                        <button data-ng-click="$ctrl.select(bird)" data-ng-class="{active: bird.selected}" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                    </td>
                    <td class="col-md-9">{{bird.ring}}</td>
                    <td class="col-md-1">{{bird.color}}</td>
                    <td class="col-md-1">
                        <button class="btn btn-default btn-xs" data-ng-click="$ctrl.delete(bird)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-4">
    <create-bird></create-bird>
</div>
<div class="col-md-4">
    <create-collection on-create="$ctrl.connectSelected(item)"></create-collection>
</div>