<div class="row" ng-show="$ctrl.isParsable">
    <div class="col-md-4">
        <div class="form-group">
            <label for="departmentField">Department</label>
            <input id="departmentField" placeholder="Department" class="form-control" type="text" data-ng-model="$ctrl.department">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="yearField">Year</label>
            <input id="yearField" placeholder="Year" class="form-control" type="text" data-ng-model="$ctrl.year">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="numberField">Number</label>
            <input id="numberField" placeholder="Number" class="form-control" type="text" data-ng-model="$ctrl.number">
        </div>
    </div>
</div>

<div class="form-group">
    <label for="ringField">Ring number</label>
    <input id="ringField" placeholder="Ring number" class="form-control" type="text" data-ng-model="$ctrl.bird.ring">
</div>
<div class="form-group">
    <label for="descriptionField">Description</label>
    <input id="descriptionField" placeholder="Description" class="form-control" type="text" data-ng-model="$ctrl.bird.description">
</div>
<div class="form-group">
    <label for="colorField">Color</label>
    <input id="colorField" placeholder="Color" class="form-control" type="text" data-ng-model="$ctrl.bird.color">
</div>

<div class="row">
    <div class="col-md-1">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">Save</button>
    </div>
</div>