<div class="col-md-1">
    <ul class="nav nav-pills nav-stacked">
        <li><a data-ui-sref="app.birds.collections">Your collections</a></li>
        <li><a data-ui-sref="app.birds.birds">All birds</a></li>
        <li><a data-ui-sref="app.birds.winnings">Your winnings</a></li>
    </ul>
</div>
<div class="col-md-11">
    <ui-view></ui-view>
</div>