<div class="col-md-4">
    <div class="row">
        <button class="btn btn-primary" type="button" data-ng-click="$ctrl.save()">Save changes</button>
        <button class="btn btn-default" type="button" data-ng-class="{active: $ctrl.isCopying()}" data-ng-click="$ctrl.toggleCopy()">Copy</button>
    </div>
    <div data-ng-repeat="col in $ctrl.getCollections()">
        <div class="row">
            <h2>{{col.name}}</h2>
        </div>
        <div class="row">
            <!--<pre>{{$ctrl.getBirdsForCollecton(col.id)}}</pre>-->
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>Ring</th>
                        <th>Colour</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="{{col.id}}" dragula='"first-bag"' dragula-model="$ctrl.getBirdsForCollecton(col.id)">
                    <tr id="{{bird.ring}}" data-ng-repeat="bird in $ctrl.getBirdsForCollecton(col.id) track by bird.ring">
                        <td class="col-md-1">
                            <button data-ng-click="$ctrl.select(bird)" data-ng-class="{active: bird.selected}" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td class="col-md-9">{{bird.ring}}</td>
                        <td class="col-md-1">{{bird.color}}</td>
                        <td class="col-md-1">
                            <button class="btn btn-default btn-xs" data-ng-click="$ctrl.delete(col.id, bird)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    <tr data-ng-if="$ctrl.isCollectionEmpty(col.id)" class="no-drag">
                        <td collspan="4">Drag here</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>