<div class="col-md-4 col-md-push-4">
	<div class="form-group">
		<label for="usernameField">Username:</label>
		<div id="usenameField" class="form-control-static">{{$ctrl.userdetails.username}}</div>
	</div>
	<div class="form-group">
		<label for="firstNameField">First name:</label>
		<div id="firstNameField" class="form-control-static">{{$ctrl.userdetails.name}}</div>
	</div>
	<div class="form-group">
		<label for="lastNameField">Last name:</label>
		<div id="lastNameField" class="form-control-static">{{$ctrl.userdetails.lastname}}</div>
	</div>
	<change-password></change-password>
</div>