<div class="col-md-4">
	<div class="row">
		<create-collection data-on-create="$ctrl.createCollection(item)"></create-collection>
	</div>
	<h2>Your collections</h2>
	<div class="row">
		<table class="table table-sm" data-ng-show="!$ctrl.isCollectionEmpty()">
			<thead>
				<tr>
					<th></th>
					<th>#</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="item in $ctrl.getCollections()">
					<td>
						<button data-ng-click="$ctrl.selectCollection(item)" data-ng-class="{active: item.selected}" class="btn btn-default btn-xs">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						</button>
					</td>
					<th scope="row">{{item.id}}</th>
					<td col-md-1>{{item.name}}</td>
					<td col-md-1>{{item.description}}</td>
					<td>
						<button data-ng-click="$ctrl.removeCollection(item)" class="btn btn-default btn-xs" data-ng-click="$ctrl.delete()">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<ui-view></ui-view>